.task {
    color: #d3d3d3 !important;
    text-decoration: line-through !important;
}

#task-list li {
    color: rgb(0, 64, 97);
    font-weight: bolder;
    font-size: larger;
    text-decoration: double;
    list-style: none;
}

#task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.delete-task {
    background-color: red;
    color: black;

}

#count-id1,
#count-id3,
#count-id2 {
    font-weight: bold;
}

#main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8e1b5;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px #c3c3c3;
}

#show-all,
#completed,
#incomplete {
    font-weight: bolder;
}